#actualcontent
{
	display: none;
}
#libertyalert
{
	margin-top: 1rem;
}
.smallcapsroman
{
	font-variant: small-caps;
}

/*NAVBAR*/
.bd-navbar {
    padding: .75rem 0;
    background-color:#583D72
}
.bd-navbar .navbar-toggler {
    padding: 0;
    border:0
}
.bd-navbar .navbar-toggler .bi {
    width: 2rem;
    fill:currentColor
}
.bd-navbar .navbar-nav .nav-link {
    padding-right: .25rem;
    padding-left: .25rem;
    color:rgba(255, 255, 255, 0.85)
}
.bd-navbar .navbar-nav .nav-link:hover, .bd-navbar .navbar-nav .nav-link:focus {
    color:#fff
}
.bd-navbar .navbar-nav .nav-link.active {
    font-weight: 600;
    color:#fff
}
.bd-navbar .navbar-nav-svg {
    width: 1rem;
    height:1rem
}
.btn-bd-download {
    font-weight: 600;
    color: #FFBA93;
    border-color:#FFBA93
}
.btn-bd-download:hover, .btn-bd-download:active {
    color: #2a2730;
    background-color: #FFBA93;
    border-color:#FFBA93
}
.btn-bd-download:focus {
    box-shadow:0 0 0 3px rgba(255, 228, 132, 0.25)
}
/*Back to tops*/
.backtotopper:hover, .backtotopper:active {
	background-color: #2a2730;
	cursor: pointer;
}
.backtotopper
{
	transition: transform 0.35s ease;
}

/*DOCUMENTATION*/
@media (min-width: 768px) {
    .bd-layout {
        display: grid;
        gap: 1.5rem;
        grid-template-areas: "sidebar main";
        grid-template-columns:1fr 3fr
    }
}
@media (min-width: 992px) {
    .bd-layout {
        grid-template-columns:1fr 5fr
    }
}
/*SIDEBAR*/
.bd-sidebar {
    grid-area:sidebar
}
.bd-sidebar-toggle {
    color:#6c757d
}
.bd-sidebar-toggle:hover, .bd-sidebar-toggle:focus {
    color:#7952b3
}
.bd-sidebar-toggle:focus {
    box-shadow:0 0 0 3px rgba(121, 82, 179, 0.25)
}
.bd-sidebar-toggle .bi {
    fill:currentColor
}
.bd-sidebar-toggle .bi-collapse {
    display:none
}
.bd-sidebar-toggle:not(.collapsed) .bi-expand {
    display:none
}
.bd-sidebar-toggle:not(.collapsed) .bi-collapse {
    display:inline-block
}
@media (max-width: 767.98px) {
    .bd-sidebar {
        margin:0 -.75rem 1rem
    }
}
/*LINKS in toc*/
.bd-links {
    overflow: auto;
    font-weight:600
}
@media (min-width: 768px) {
    .bd-links {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        display: block !important;
        height: calc(100vh - 7rem);
        padding-left: .25rem;
        margin-left: -.25rem;
        overflow-y:auto
    }
}
@media (max-width: 767.98px) {
    .bd-links > ul {
        padding: 1.5rem .75rem;
        background-color: #f8f9fa;
        border-bottom:1px solid #e9ecef
    }
}
.bd-links a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    color: rgba(0, 0, 0, 0.65);
    text-decoration:none
}
.bd-links a:hover, .bd-links a:focus {
    color: rgba(0, 0, 0, 0.85);
    background-color:rgba(159, 85, 128, 0.1)
}
.bd-links .btn {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    background-color: none;
    border:0
}
.bd-links .btn:hover, .bd-links .btn:focus {
    color: rgba(0, 0, 0, 0.85);
    background-color:rgba(159, 85, 128, 0.1)
}
.bd-links .btn:focus {
    box-shadow:0 0 0 1px rgba(159, 85, 128, 0.7)
}
.bd-links .btn::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin:.5em 50%
}
@media (prefers-reduced-motion: reduce) {
    .bd-links .btn::before {
        transition: none
    }
}
.bd-links .btn[aria-expanded="true"] {
    color: rgba(0, 0, 0, 0.85)
}
.bd-links .btn[aria-expanded="true"]::before {
    transform:rotate(90deg)
}
.bd-links .active {
    font-weight: 600;
    color:rgba(0, 0, 0, 0.85)
}
/*MAIN*/
.bd-main {
    grid-area:main
}
@media (min-width: 768px) {
    .bd-main {
        display: grid;
        gap: inherit;
        grid-template-areas: "intro" "toc" "content";
        grid-template-rows:auto auto 1fr
    }
}
@media (min-width: 992px) {
    .bd-main {
        grid-template-areas: "intro   toc" "content toc";
        grid-template-columns: 4fr 1fr;
        grid-template-rows:auto 1fr
    }
}
/*TOC*/
.bd-toc {
    grid-area:toc
}
@media (min-width: 992px) {
    .bd-toc {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        right: 0;
        z-index: 2;
        height: calc(100vh - 7rem);
        overflow-y:auto
    }
}
.bd-toc nav {
    font-size:.875rem
}
.bd-toc nav ul {
    padding-left: 0;
    list-style:none
}
.bd-toc nav ul ul {
    padding-left: 1rem;
    margin-top:.25rem
}
.bd-toc nav li {
    margin-bottom:.25rem
}
.bd-toc nav a {
    color:inherit
}
.bd-toc nav a:not(:hover) {
    text-decoration:none
}
.bd-toc nav a code {
    font:inherit
}
/*CONTENT*/
.bd-content .highlight {
    margin-right: -.75rem;
    margin-left:-.75rem
}
@media (min-width: 576px) {
    .bd-content .highlight {
        margin-right: 0;
        margin-left:0
    }
}
@media (min-width: 768px) {
    .bd-content > [id] {
        scroll-margin-top:4rem
    }
}
.bd-content > h2:not(:first-child) {
    margin-top:1.5rem
}
.bd-content > h3 {
    margin-top:1rem
}
.bd-content > ul li, .bd-content > ol li {
    margin-bottom:.25rem
}
.bd-content > .table {
    max-width: 100%;
    margin-bottom: 1.5rem;
    font-size:.875rem
}
@media (max-width: 991.98px) {
    .bd-content > .table {
        display: block;
        overflow-x:auto
    }

    .bd-content > .table.table-bordered {
        border:0
    }
}
.bd-content > .table th:first-child, .bd-content > .table td:first-child {
    padding-left:0
}
.bd-content > .table th:not(:last-child), .bd-content > .table td:not(:last-child) {
    padding-right:1.5rem
}
.bd-content > .table td:first-child > code {
    white-space:nowrap
}
.bd-content {
    grid-area: content;
    min-width:1px
}
/*SUBNAVBAR*/
.bd-subnavbar {
    position: relative;
    z-index: 1020;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.15)
}
@media (min-width: 768px) {
    .bd-subnavbar {
        position: -webkit-sticky;
        position: sticky;
        top:0
    }
}
/*SEARCH*/
.bd-search {
    position:relative
}
/*.bd-search::after {
    position: absolute;
    top: .4rem;
    right: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    padding-right: .25rem;
    padding-left: .25rem;
    font-size: .75rem;
    color: #6c757d;
    content: "Ctrl + /";
    border: 1px solid #dee2e6;
    border-radius:.125rem
}*/
@media (max-width: 767.98px) {
    .bd-search {
        width:100%
    }
}
.bd-search .form-control {
    padding-right:3.75rem
}
.bd-search .form-control:focus {
    border-color: #583D72;
    box-shadow:0 0 0 3px rgba(159, 85, 128, 0.25)
}

/*Other stuff*/
a
{
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
.img_src_inline
{
	width: 1em;
	height: 1em;
}
.glosstext
{
	font-variant: small-caps;
}
.hovertext, .glosstext
{
	text-decoration-line: underline;
	text-decoration-style: dotted;
	cursor: help;
}
.alphabetstripe
{
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}
.alphabetstripe > span
{
	position: relative;
	display: inline-block;
}
.alphabetstripe > span:after, .alphabetstripe > span:before
{
	content: "";
	position: absolute;
	top: 50%;
	width: 9999px;
	height: 1px;
	background: #ccc;
}
.alphabetstripe > span:after
{
	left: 100%;
	margin-left: 5px;
}
.alphabetstripe > span:before
{
	right: 100%;
	margin-right: 5px;
}
/*Custom stuff*/
.lexiconentry
{
	margin-left: 0 !important;
	font-size: 125%;
}
th
{
	text-align: center !important;
}
.wordlistcategory
{
	margin-left: 0.2rem;
	font-size: 75%;
}
#wordlist
{
	overflow-x: hidden;
}
.blockquote
{
	font-size: 1rem;
}
#globalnavbarstuffies
{
	display: none;
}
.syntaxhover .syntaxhover_extra, .syntaxhov .syntaxhover_extra
{
	display: none;
}
.syntaxhover:hover .syntaxhover_basic
{
	display: none;
}
.syntaxhover:hover .syntaxhover_extra
{
	display: inline;
}
/*The syntax tree*/
.syntaxtreecontent ul
{
	padding-top: 20px !important;
	padding-left: 0px !important;
	position: relative !important;
	transition: all 0.5s !important;
	-webkit-transition: all 0.5s !important;
	-moz-transition: all 0.5s !important;
}
.syntaxtreecontent li
{
	float: left !important;
	text-align: center !important;
	list-style-type: none !important;
	position: relative !important;
	padding: 20px 5px 0 5px !important;
	transition: all 0.5s !important;
	-webkit-transition: all 0.5s !important;
	-moz-transition: all 0.5s !important;
}
.syntaxtreecontent li::before, .syntaxtreecontent li::after
{
	content: '' !important;
	position: absolute !important;
	top: 0 !important;
	right: 50% !important;
	border-top: 1px solid #ccc !important;
	width: 50% !important;
	height: 20px !important;
}
.syntaxtreecontent li::after
{
	right: auto !important;
	left: 50% !important;
	border-left: 1px solid #ccc !important;
}
.syntaxtreecontent li:only-child::after, .syntaxtreecontent li:only-child::before
{
	display: none !important;
}
.syntaxtreecontent li:only-child
{
	padding-top: 0px !important;
}
.syntaxtreecontent li:first-child::before, .syntaxtreecontent li:last-child::after
{
	border: 0 none !important;
}
.syntaxtreecontent li:last-child::before
{
	border-right: 1px solid #ccc !important;
	border-radius: 0 5px 0 0 !important;
	-webkit-border-radius: 0 5px 0 0 !important;
	-moz-border-radius: 0 5px 0 0 !important;
}
.syntaxtreecontent li:first-child::after
{
	border-radius: 5px 0 0 0 !important;
	-webkit-border-radius: 5px 0 0 0 !important;
	-moz-border-radius: 5px 0 0 0 !important;
}
.syntaxtreecontent ul ul::before
{
	content: '' !important;
	position: absolute !important;
	top: 0 !important;
	left: 50% !important;
	border-left: 1px solid #ccc !important;
	width: 0 !important;
	height: 20px !important;
}

.syntaxtreecontent li .syntaxtreecontent2
{
	border: 1px solid #ccc !important;
	padding: 5px 10px !important;
	display: inline-block !important;
	border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	transition: all 0.5s !important;
	-webkit-transition: all 0.5s !important;
	-moz-transition: all 0.5s !important;
}